<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">person</i><!--supervised_user_circle-->
      </a>
    </li>
    <li><a routerLink="posts" [class.activated]="currentUrl == '/posts'">
      <i class="material-icons">textsms</i>
    </a>
    </li>
    
    <li>
        <a routerLink="/categorias" [class.activated]="currentUrl == '/categorias'">
          <i class="material-icons">person</i><!--supervised_user_circle-->
        </a>
     </li>
  </ul>
</nav>